.sea-blue{
  background: #05668D;
}
.metalic-seaweed{
  background: #028090;
}
.persian-green{
  background: #00A896;
}
.caribbean-green{
  background: #02C39A;
}
.pale-spring-bud{
  background: #F0F3BD;
}
