.red {
  color: #d04e40
}

.sand {
  color: #d4d1bf
}

.beige {
  color: #f5f1da
}

.seagreen {
  color: #88b1ab
}

.darkslate {
  color: #31302f
}

.navy {
  color: #313a4b
}

.lightgray {
  color: #858d93
}

.golden {
  color: #f8d765
}
